@import "./vars.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");
@import "./normalize.css";
html {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-secondBg);
}

.wrapper {
  max-width: 1400px;
  width: 95%;
  height: auto;
  margin: 0 auto;
}

h1,
h2,
ul {
  padding: 0;
  margin: 0;
}
